SUBSYSTEM=="leds*", PROGRAM="/bin/sh -c '\
        chown -R root:leds /sys/class/leds && chmod -R 770 /sys/class/leds;\
        chown -R root:leds /sys/devices/platform/up-pinctrl/leds && chmod -R 770 /sys/devices/platform/up-pinctrl/leds;\
        chown -R root:leds /sys/devices/platform/AANT0F01:00/upboard-led.* && chmod -R 770 /sys/devices/platform/AANT0F01:00/upboard-led.*;\
'"
